body 
{
    font-family: 'RocknRoll One', sans-serif;
    background:linear-gradient(darkblue,rgb(73, 50, 201),rgb(12, 231, 129)) ;
}

.header_div{
    background-color:indianred;
    color: lime;
}

.header_div img{
    width: 100px;
}

.main_div{
    background-color: rgb(15, 221, 25);
    padding: 10px;
    margin-top: 15px;
    border:3px dotted darkcyan;
}

.main_div label{
    background-color: darkgoldenrod;
    width: 310px;
    padding: 10px;
    margin-bottom:  0px;
    box-shadow: 7px 15px 28px rgb(155, 80, 11);
}

#camera,#result{
    width:310px;
    height: 300px;
    border:4px greenyellow dotted;
    box-shadow: 7px 15px 28px rgb(10, 197, 35);
}

.main_div button{
    width: 310px;
    font-size: 16px;
    border: 3px indianred dashed;
    box-shadow: 7px 15px 28px rgb(13, 179, 230);
}

.footer_div{
margin-bottom: 50px;
}

.footer_div h4{
    background: linear-gradient(pink,indianred,rgb(231, 55, 55));
    border-radius: 10px;
    padding: 5px;
    box-shadow: 15px 10px 50px goldenrod;
}

.footer_div img{
    width: 70px;
    height: 70px;
}

.copyright_footer{
    position: fixed;
    color: goldenrod;
    width: 100%;
    bottom:0px;
    line-height: 3;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}